<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p](%-30c{1}) %m%n" />
		</layout>
	</appender>
     
    <appender name="console-infolog" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>  
    </appender>

	<logger name="org.springframework" additivity="false">
		<level value="INFO" />
		<appender-ref ref="console" />
	</logger>

    <!-- Query Loggers -->
    <logger name="jdbc.sqlonly" additivity="false">  
        <level value="INFO"/>  
        <appender-ref ref="console-infolog"/>  
    </logger>
    <logger name="jdbc.resultsettable" additivity="false">  
        <level value="INFO"/>  
        <appender-ref ref="console"/>  
    </logger>
    <logger name="jdbc.resultset" additivity="false">  
        <level value="ERROR"/>  
        <appender-ref ref="console"/>  
    </logger>
    <logger name="jdbc.audit" additivity="false">  
        <level value="ERROR"/>  
        <appender-ref ref="console"/>  
    </logger>
    <logger name="jdbc.sqltiming" additivity="false">  
        <level value="ERROR"/>  
        <appender-ref ref="console"/>  
    </logger>

	<logger name="ldg.mybatis" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="console" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>